<div class="newtool-container">
  <div class="newtool-box">
    <%= form_for @service do |f| %>
      <div class="form-group">
        <%= f.label :name %><br>
        <%= f.text_field :name, class:'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :description %><br>
        <%= f.text_area :description, :maxlength => 430, :rows => 5, class:'form-control', id:'description' %>
      </div>
      </br>
      <div class="actions">
        <%= f.submit class:"btn btn-default" %>
      </div>
    <% end %>
  </div>
</div>
